<div class="dashboard">

  <h3 class="theme-font">Dashboard</h3>

  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box red">
              <i class="fa fa-eye"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Views on<span> <br/>
            <span class="record-title">Unigleam.com<span> <br/>
            <span class="record-counter">0</span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box blue">
              <i class="fa fa-qrcode"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of<span> <br/>
            <span class="record-title">Unigleam Users<span> <br/>
            <span class="record-counter"><%= User.all.count %></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box green">
              <i class="fa fa-photo"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of Gleams<span> <br/>
            <span class="record-title">Casted<span> <br/>
            <span class="record-counter"><%= SurveyResponse.all.count %></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box yellow">
              <i class="fa fa-tint"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of Gleams<span> <br/>
            <span class="record-title">Shared<span> <br/>
            <span class="record-counter">0</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <br/>
  <div class="col-sm-12 line-chart-content">
    <br/>
    <p class="line-chart-title">Number of Gleams Casted Year to Date</p>
    <br/>
    <div class="line-chart" data-categories = "<%= @survey_responses.keys.join(", ") %>" data-records = "<%= @survey_responses.values.join(", ") %>">

    </div>
    <br/>
  </div>

  <br/>
  <br/>
  <br/>
  <div class="col-sm-12">
    <br/>
    <br/>
    <h2>Users</h2>
    <table class="table">
      <thead>
        <th>Email</th>
        <th>Address</th>
        <th>Coordinate</th>
      </thead>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.latitude %>,<%= user.longitude %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
