<div class="dashboard">

  <h3 class="theme-font">Dashboard</h3>

  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box red">
              <i class="fa fa-eye"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Views on<span> <br/>
            <span class="record-title">Unigleam.com<span> <br/>
            <span class="record-counter">0</span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box blue">
              <i class="fa fa-qrcode"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of<span> <br/>
            <span class="record-title">Unigleam Users<span> <br/>
            <span class="record-counter"><%= User.all.count %></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box green">
              <i class="fa fa-photo"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of Gleams<span> <br/>
            <span class="record-title">Casted<span> <br/>
            <span class="record-counter"><%= SurveyResponse.all.count %></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">

        <div class="dashboard-counter-box">
          <div class="pull-left">
            <div class="icon-box yellow">
              <i class="fa fa-tint"></i>
            </div>
          </div>

          <div class="right">
            <span class="record-title">Number of Gleams<span> <br/>
            <span class="record-title">Shared<span> <br/>
            <span class="record-counter">0</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <br/>
  <div class="col-sm-12 line-chart-content">
    <br/>
    <p class="line-chart-title">Number of Gleams Casted Year to Date</p>
    <br/>
    <div class="line-chart" data-categories = "<%= @survey_responses.keys.join(", ") %>" data-records = "<%= @survey_responses.values.join(", ") %>">

    </div>
    <br/>
  </div>

  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col-sm-12">
      <br/>
      <h2>Users</h2>

      <div class="col-sm-12 map-wrapper">

        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css' rel='stylesheet' />
        <style>
            #map { position:absolute; top:0; bottom:0; width:100%; height: 600px; }
        </style>

        <div id='map'></div>
        <br/>
        <br/>
        <br/>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoidmluY2VudGxrbCIsImEiOiJjaXBkZmM0ZXIwMDBldHVuaG83OG9raG5oIn0.78QBG15pWkm0HRtiST-6JA';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/dark-v8',
            center: [-95.59179687498357, 38.66995747013945],

            coordinates: [
               [-117.1475247,32.7624505],
               [ -73.7791208,41.273503 ],
               [ -83.7791208,41.273503 ],
           ],

            zoom: 3.4,
          });

          map.on('load', function(){

              // Add a new source from our GeoJSON data and set the
              // 'cluster' option to true.
              map.addSource("earthquakes", {
                  type: "geojson",
                  data: {
                  'features': [
                  { 'geometry': { 'type': 'Point', 'coordinates': [ -117.1475247,32.7624505 ] } },
                  { 'geometry': { 'type': 'Point', 'coordinates': [ -117.1475247,32.7624505 ] } },
                  { 'geometry': { 'type': 'Point', 'coordinates': [ -73.7791208,41.273503 ] } },


                  ]
                  },
                  cluster: true,
                  clusterMaxZoom: 14, // Max zoom to cluster points on
                  clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
              });

              // Use the earthquakes source to create five layers:
              // One for non-clustered markers, three for each cluster category,
              // and one for cluster labels.
              map.addLayer({
                  "id": "non-cluster-markers",
                  "type": "symbol",
                  "source": "earthquakes",
                  "layout": {
                      "icon-image": "marker-15"
                  }
              });

              // Display the earthquake data in three layers, each filtered to a range of
              // count values. Each range gets a different fill color.
              var layers = [
                  [150, '#f28cb1'],
                  [20, '#f1f075'],
                  [0, '#51bbd6']
              ];

              layers.forEach(function (layer, i) {
                  map.addLayer({
                      "id": "cluster-" + i,
                      "type": "circle",
                      "source": "earthquakes",
                      "paint": {
                          "circle-color": layer[1],
                          "circle-radius": 18
                      },
                      "filter": i == 0 ?
                          [">=", "point_count", layer[0]] :
                          ["all",
                              [">=", "point_count", layer[0]],
                              ["<", "point_count", layers[i - 1][0]]]
                  });
              });

              // Add a layer for the clusters' count labels
              map.addLayer({
                  "id": "cluster-count",
                  "type": "symbol",
                  "source": "earthquakes",
                  "layout": {
                      "text-field": "{point_count}",
                      "text-font": [
                              "DIN Offc Pro Medium",
                              "Arial Unicode MS Bold"
                          ],
                      "text-size": 12
                  }
              });
          });
        </script>

      </div>

      <table class="table">
        <thead>
          <th>Email</th>
          <th>Address</th>
          <th>Coordinate</th>
        </thead>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.address %></td>
          <td><%= user.longitude %>,<%= user.latitude %></td>
          <% user.address = "2140 Hanover Street, New York"
            user.save
          %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
