<div class="dashboard">

  <h3 class="theme-font">Dashboard</h3>

  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-6 col-md-3 box-counter-divider">
        <%= link_to "javascript:void(0)" do %>
          <div class="dashboard-counter-box">
            <div class="pull-left">
              <div class="icon-box red">
                <i class="fa fa-eye"></i>
              </div>
            </div>

            <div class="right">
              <span class="record-title">Views of<span> <br/>
              <span class="record-title">your gleams<span> <br/>
              <span class="record-counter">0</span>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">
        <%= link_to "javascript:void(0)" do %>
          <div class="dashboard-counter-box">
            <div class="pull-left">
              <div class="icon-box blue">
                <i class="fa fa-qrcode"></i>
              </div>
            </div>

            <div class="right">
              <span class="record-title">Number of<span> <br/>
              <span class="record-title">Followers<span> <br/>
              <span class="record-counter"><%= User.all.count %></span>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">
        <%= link_to "javascript:void(0)" do %>
          <div class="dashboard-counter-box">
            <div class="pull-left">
              <div class="icon-box green">
                <i class="fa fa-photo"></i>
              </div>
            </div>

            <div class="right">
              <span class="record-title">Number of Gleams<span> <br/>
              <span class="record-title">Casted (user only)<span> <br/>
              <span class="record-counter"><%= SurveyResponse.all.count %></span>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-md-3 box-counter-divider">
        <%= link_to "javascript:void(0)" do %>
          <div class="dashboard-counter-box">
            <div class="pull-left">
              <div class="icon-box yellow">
                <i class="fa fa-tint"></i>
              </div>
            </div>

            <div class="right">
              <span class="record-title">Number of Gleams<span> <br/>
              <span class="record-title">Shared (user only)<span> <br/>
              <span class="record-counter"><%= SurveyQuestion.sum(:share_counter) %></span>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <br/>
  <div class="col-sm-12 line-chart-content" id="line_chart_div">
    <%= render "shared/line_chart_content", :chart => @survey_responses %>
  </div>

  <br/>
  <br/>
  <br/>

</div>
