<h2 class="font-color-head font-weight-500">Profile Settings</h2>
<%= form_for(current_user, url: user_path(current_user), html: { method: :put }) do |f| %>

  <div class="field">
    <%#= f.file_field :profile_image, class: 'form-control width-30-percent', placeholder: 'Image' %>
    <div class="row">
      <%= f.file_field :profile_image, value: f.object.profile_image, id: 'wizard-picture', data: { :'error-box-class' => "error-msg-file" }, class: "file-field-show-disable" %>
    </div>
    <div class="upload-box file-uploaded">
      <i class="icn-upload set-cursor-pointer fa fa-upload" onclick='$("#wizard-picture").trigger("click")'></i>
      <!-- <i class="icn-remove set-cursor-pointer fa fa-remove" onclick='imgRemove()'></i> -->
      <% if f.object.profile_image.present? %>
        <% if f.object.profile_image.url.present? && !f.object.new_record? %>
          <%= image_tag(f.object.profile_image.url(:medium), class: "img-thumbnail", id: "wizardPicturePreview")%>
        <%else %>
          <%= image_tag('NoImage.gif', class: "img-thumbnail", id: "wizardPicturePreview", alt: '')%>
        <% end %>
      <% else %>
        <%= image_tag('NoImage.gif', class: "img-thumbnail", id: "wizardPicturePreview", alt: '')%>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <br />
  <div class="field">
    <%= f.email_field :email, class: 'form-control width-30-percent', placeholder: 'Email', disabled: "disabled" %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :username, class: 'form-control width-30-percent', placeholder: 'Username', disabled: "disabled" %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :city, class: 'form-control width-30-percent', placeholder: "City" %>
  </div>
  <br />
  <div class="field">
    <%= f.label "Gender", class:'font-color-grey'%><br />
    <%= f.radio_button :gender, "male" %>&nbsp;<%= f.label :gender, 'Male', class: 'font-color-grey set-cursor-pointer', value: 'male' %><br />
    <%= f.radio_button :gender, "female"%>&nbsp;<%= f.label :gender, 'Female', class: 'font-color-grey set-cursor-pointer', value: 'female' %><br />
    <%= f.radio_button :gender, "transgender"%>&nbsp;<%= f.label :gender, 'Transgender', class: 'font-color-grey set-cursor-pointer', value: 'transgender' %><br />
    <%= f.radio_button :gender, ""%>&nbsp;<%= f.label :gender, 'Not Specified', class: 'font-color-grey set-cursor-pointer',value: '' %><br />
  </div>
  <br />
  <div class="field">
    <%= f.select :age,(18..100), { prompt: "Select Age" }, class: 'form-control width-30-percent', placeholder: "City" %>
  </div>
  <br />
  <div class="actions">
    <%= f.button "Save", class: 'btn background-color', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Saving".html_safe %>
  </div>
<% end %>
