<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="modal-body col-md-4 col-md-offset-4">

    <div class="form-group">
      <h3 class="theme-font">Forgot your password?</h3>
    </div>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, "Email address" %>
      <%= f.email_field :email, :class => "form-control", :placeholder => "Enter email", autofocus: true %>
    </div>

    <center><%= f.submit "Send me reset password instructions", :class => "social-button email_login" %></center>
    <br/>

  </div>

<% end %>
