<% unless @banner_image.blank? %>
  <div class="banner">
    <div class="banner_title">
      <%= @banner_image.banner_title %>
    </div>
    <%= image_tag @banner_image.banner_image, :class => "banner_image" %>
  </div>
<% end %>

<div class="">
  <br/>
  <center>
    <h3 class="theme-font title-text">Search Results</h3>
  </center>

  <!--<%# if params.has_key?(:topics) %>
     <div class="container">
      <h3 class="theme-font title-text">Topics Results</h3>
      <br/>
      <div class="col-sm-12">
        <%# unless @topics.blank? %>
          <%# @topics.each do |topic| %>
            <div class="col-sm-4">
              <%#= link_to topics_survey_path(topic) do %>
                <span class="circle-title"><%#= topic.name %></span>
                <%#= image_tag topic.photo.url(:medium), :class => "img-responsive circle-image" %>
              <%# end %>
            </div>
          <%# end %>
        <%# else %>
          <center>
            No result found.
          </center>
        <%# end %>
      </div>
    </div>
  <%# end %>-->

  <% if params.has_key?(:gleams) %>
    <div class="container">
      <hr/>
      <h3 class="theme-font title-text">Gleams Results</h3>
      <br/>
      <div class="col-sm-12">
        <% unless @survey_questions.blank? %>
          <% @survey_questions.each_with_index do |survey_question,index| %>
            <div class="pt40 pb40">
              <div class="container">
                <!-- Begin Carousel + Content -->
                <div class="row">

                  <!-- Begin Carousel -->
                  <div class="col-sm-4" style="visibility: visible; ">

                    <center>
                      <%= link_to topics_survey_path(survey_question.topic) do %>
                        <div style="background-image:url('<%= survey_question.image.url(:medium) %>');" class="survey-image"></div>
                      <% end %>
                      <br/>
                      <%= link_to "Go to Gleam", topics_survey_path(survey_question.topic), :class => "btn btn-theme btn-category" %>
                    </center>

                  </div><!-- /column -->
                  <!-- End Carousel -->

                  <!-- Content Inside -->
                  <div class="col-sm-8" style="visibility: visible; ">
                    <div class="mb20 mt30-xs">
                      <h4 class="theme-font">
                        <%= survey_question.title %>
                      </h4>
                    </div>

                    <div id="survey_question_<%= survey_question.id %>">
                      <%= render partial: "survey_questions/survey_question", locals: {:survey_question => survey_question} %>
                    </div>
                    <% if user_signed_in? %>
                      <%= form_for Comment.new, :remote => true  do |f| %>
                        <%= f.hidden_field :survey_question_id, value: survey_question.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
  							        <div class="rows">
                          <div class="col-md-12 padding-left-0 padding-right-0"><%= f.text_area :comment, :class => "form-control text_area_comment", :placeholder => "Write Your Comment Here" %></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rows padding-top-5">
                          <div class="col-md-3 pull-right padding-left-0 padding-right-0">
                            <%= f.button "Add Comment", class: 'btn btn-theme btn-category width-120 pull-right margin-right-0 add_comment', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>Adding..." %>
                          </div>
                        </div>
  							      <% end %>
                      <div class="clearfix"></div>
                      <br />
                      <div class="comment_question_div_<%= survey_question.id %>">
                        <% if survey_question.comments.present? %>
                            <%= render "shared/survey_question_list", :survey_question => survey_question %>
                        <% end %>
                      </div>
                    <% end %>
                  </div><!-- /column -->
                  <!-- End Content Inside -->

                </div><!-- /row -->
                <!-- End Carousel + Content -->

              </div><!-- /container -->
            </div>
          <% end %>
        <% else %>
          <center>
            No result found.
          </center>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if params.has_key?(:profiles) %>
    <div class="container">
      <hr/>
      <h3 class="theme-font title-text">Profiles Results</h3>
      <br/>
      <div class="col-sm-12">
        <% unless @profiles.blank? %>
          <% @profiles.each_with_index do |profile,index| %>
            <div class="pt40 pb40">
              <div class="container">
                <!-- Begin Carousel + Content -->
                <div class="row">

                  <!-- Begin Carousel -->
                  <div class="col-sm-4" style="visibility: visible; ">

                    <center>
                      <%= link_to edit_user_path(profile.id) do %>
                        <div style="background-image:url('<%= profile.profile_image.url(:large) %>');" class="survey-image"></div>
                      <% end %>
                      <br/>
                      <%#= link_to "Go to Gleam", topics_survey_path(survey_question.topic), :class => "btn btn-theme btn-category" %>
                    </center>

                  </div><!-- /column -->
                  <!-- End Carousel -->

                  <!-- Content Inside -->
                  <div class="col-sm-8" style="visibility: visible; ">
                    <div class="mb20 mt30-xs">
                      <h4 class="theme-font">
                        <%= profile.try(:full_name) %>
                      </h4>
                    </div>

                    <div id="profile_<%= profile.id %>">
                      <div class="rows">
                        <div class="col-md-2">Email:</div>
                        <div class="col-md-10"><%= profile.email%></div>
                      </div>
                      <div class="rows">
                        <div class="col-md-2">City:</div>
                        <div class="col-md-10"><%= profile.city.present? ? profile.city : '-'%></div>
                      </div>
                      <div class="rows">
                        <div class="col-md-2">Age:</div>
                        <div class="col-md-10"><%= profile.age.present? ? profile.age : '-'%></div>
                      </div>
                      <div class="rows">
                        <div class="col-md-2">Gender:</div>
                        <div class="col-md-10"><%= profile.gender.present? ? profile.gender : '-'%></div>
                      </div>
                    </div>

                  </div><!-- /column -->
                  <!-- End Content Inside -->

                </div><!-- /row -->
                <!-- End Carousel + Content -->

              </div><!-- /container -->
            </div>
          <% end %>
        <% else %>
          <center>
            No result found.
          </center>
        <% end %>
      </div>
    </div>
  <% end %>
  <br/>
  <br/>

</div>

<script src="https://connect.facebook.net/en_US/all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

  FB.init({
    appId: '<%= ENV["FACEBOOK_KEY"] %>',
    status: true,
    cookie: true,
    xfbml: true
  });

  function share_prompt(title,url,picture_url,survey_url) {
    FB.ui( {
      method: 'feed',
      name: title,
      link: url,
      picture: picture_url
    }, function( response ) {

      if (response && response.post_id) {
        $.ajax({
          url: survey_url,
          type: "POST",
          data: {},
          success: function (response) {
          },
          error: function (xhr, status) {
          }
        });
      }

    });
  }

  $(".facebook-share-btn").on( "click", function() {
    title       = $(this).data("title")
    url         = $(this).data("url")
    picture_url = $(this).data("picture-url")
    survey_url  = $(this).data("survey")
    share_prompt(title,url,picture_url,survey_url)
  });


</script>
