<%
  survey_response = survey_question.survey_responses
  total_survey_response = survey_response.count
%>

<% survey_question.survey_question_answers.each_with_index do |survey_question_answer,index| %>
  <% total_survey_response_answer = survey_response.where(:survey_question_answer_id => survey_question_answer.id ).count %>
  <% total_survey_response_percentage = total_survey_response.to_i == 0 ? '0' : (number_with_precision(((total_survey_response_answer.to_f/total_survey_response.to_f) * 100), precision: 2)) %>

  <div class="result-title">
    <%= survey_question_answer.answer %>
  </div>
  <div class="result">
    <div class="result-bar bar-<%= index %>" style="width: <%= total_survey_response_percentage.to_f - 10 %>%">
      <span><%= total_survey_response_answer %></span>
    </div>
    <%= total_survey_response_percentage %> %
  </div>
<% end %>
<br/>
<small>(Total of: <%= total_survey_response.to_i == 0 ? "0 gleam" : pluralize(total_survey_response, 'gleam') %> casted)</small>

<br/>
<br/>
<%= link_to "Vote", vote_survey_path(survey_question.id), :class => "btn btn-theme btn-category", :remote => true %>

<div class="btn btn-theme facebook-share-btn btn-category"
  data-title="<%= survey_question.title %>"
  data-picture-url= "<%= survey_question.image.url(:medium) %>"
  data-url="<%= topics_survey_question_url(survey_question.topic, survey_question) %>"
  data-survey="<%= survey_share_counter_url(survey_question.slug) %>" >
  Share
</div>
<br/>

<br/>
<br/>
<div class="clearfix"></div>
<div class="comment_question_div_<%= survey_question.id %>">
  <% if survey_question.root_comments.present? %>
      <%= render "shared/survey_question_list", :survey_question => survey_question %>
  <% end %>
</div>
<div class="clearfix"></div>
<br />
<% if user_signed_in? %>
  <%= form_for Comment.new, :remote => true  do |f| %>
    <%= f.hidden_field :survey_question_id, value: survey_question.id %>
    <div class="rows">
      <div class="col-md-12 padding-left-0 padding-right-0"><%= f.text_area :body, :class => "form-control text_area_comment", :placeholder => "Write Your Comment Here" %></div>
    </div>
    <div class="clearfix"></div>
    <div class="rows padding-top-5">
      <div class="col-md-3 pull-right padding-left-0 padding-right-0">
        <%= f.button "Add Comment", class: 'btn btn-theme btn-category width-120 pull-right margin-right-0 add_comment', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>Adding..." %>
      </div>
    </div>
  <% end %>
<% end %>
