<%= form_for survey_question, :url => create_vote_survey_path(survey_question), :method => "post", :remote => true do |f| %>

  <% survey_question.survey_question_answers.each do |survey_question_answer| %>
    <div class="radio">
      <label>
        <% if user_signed_in? %>
          <%= f.radio_button :answer, "#{survey_question_answer.answer}", :checked => false %>
        <% else %>
          <%= f.radio_button :answer, "#{survey_question_answer.answer}", :checked => false, :disabled => true %>
        <% end %>
        <%= survey_question_answer.answer %>
      </label>
    </div>
  <% end %>

  <br/>
  <% if user_signed_in? %>
    <%= f.submit "Vote", :class => "btn btn-theme" %>
  <% end %>

  <%= link_to "Result", vote_result_path(survey_question), :class => "btn btn-theme", :remote => "true" %>
  <br/>
<% end %>

<br/>
<br/>
