<% unless @topic.banner_image.blank? %>
	<div class="banner">
		<div class="banner_title">
			<%= @topic.name %>
		</div>
		<%= image_tag @topic.banner_image, :class => "banner_image" %>
	</div>
<% end %>

<div class="pt40 pb40">
	<div class="container">
		<!-- Begin Carousel + Content -->
		<div class="row">
			<div class="col-sm-offset-4 col-sm-8" style="visibility: visible; ">
				<h3 class="theme-font bold-font">Cast your gleam</h3>
			</div>
		</div>
	</div>

	<% if @survey_question.present? %>
		<div class="pt40 pb40">
			<div class="container">
				<!-- Begin Carousel + Content -->
				<div class="row">

					<!-- Begin Carousel -->
					<div class="col-sm-4" style="visibility: visible; ">
						<div style="background-image:url('<%= @survey_question.image.url(:medium) %>');" class="survey-image"></div>
					</div><!-- /column -->
					<!-- End Carousel -->

					<!-- Content Inside -->
					<div class="col-sm-8" style="visibility: visible; ">
						<div class="mb20 mt30-xs">
							<h4 class="theme-font">
								<%= @survey_question.title %>
                <% if current_user && (current_user.voted_for? @survey_question) %>
                  <button type="button" class="btn btn-success fa fa-heart like-btn" data-id="<%= @survey_question.id %>" data-loading-text=" ... "><%= @survey_question.votes_for.size %></button>
                <% else %>
                  <button type="button" class="btn btn-success fa fa-heart fa-heart-o like-btn" data-id="<%= @survey_question.id %>" data-loading-text=" ... "><%= @survey_question.votes_for.size %></button>
                <% end %>
							</h4>
              <% if @survey_question.user %>
                <ul class="list-inline posted-info">
                  <li>
                    By
                    <a><%= @survey_question.user.full_name %></a>
                    <span><%= time_ago_in_words(@survey_question.created_at) %> ago</span>
                  </li>
                </ul>
              <% end %>
						</div>

						<div id="survey_question_<%= @survey_question.id %>">
							<%= render partial: "survey_question", locals: {:survey_question => @survey_question} %>
						</div>

					</div><!-- /column -->
					<!-- End Content Inside -->

				</div><!-- /row -->
				<!-- End Carousel + Content -->

			</div><!-- /container -->
		</div>
	<% else %>
		<% @survey_questions.each_with_index do |survey_question, index| %>
			<div class="pt40 pb40">
				<div class="container">
					<!-- Begin Carousel + Content -->
					<div class="row">

						<!-- Begin Carousel -->
						<div class="col-sm-4" style="visibility: visible; ">
							<div style="background-image:url('<%= survey_question.image.url(:medium) %>');" class="survey-image"></div>
						</div><!-- /column -->
						<!-- End Carousel -->

						<!-- Content Inside -->
						<div class="col-sm-8" style="visibility: visible; ">
							<div class="mb20 mt30-xs">
								<h4 class="theme-font">
									<%= survey_question.title %>
                  <% if current_user && (current_user.voted_for? survey_question) %>
                    <button type="button" class="btn btn-success fa fa-heart like-btn" data-id="<%= survey_question.id %>" data-path="/survey_question" data-loading-text=" ... "><%= survey_question.votes_for.size %></button>
                  <% else %>
                    <button type="button" class="btn btn-success fa fa-heart fa-heart-o like-btn" data-id="<%= survey_question.id %>" data-path="/survey_question" data-loading-text=" ... "><%= survey_question.votes_for.size %></button>
                  <% end %>
								</h4>
                <% if survey_question.user %>
                  <ul class="list-inline posted-info">
                    <li>
                      By
                      <a><%= survey_question.user.full_name %></a>
                      <span><%= time_ago_in_words(survey_question.created_at) %> ago</span>
                    </li>
                  </ul>
                <% end %>
							</div>

							<div id="survey_question_<%= survey_question.id %>">
								<%= render partial: "survey_question", locals: {:survey_question => survey_question} %>
							</div>

						</div><!-- /column -->
						<!-- End Content Inside -->

					</div><!-- /row -->
					<!-- End Carousel + Content -->

				</div><!-- /container -->
			</div>
		<% end %>
	<% end %>
</div>

<script src="https://connect.facebook.net/en_US/all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

	FB.init({
	  appId: '<%= ENV["FACEBOOK_KEY"] %>',
	  status: true,
	  cookie: true,
	  xfbml: true
	});

	function share_prompt(title,url,picture_url,survey_url) {
		FB.ui( {
			method: 'feed',
			name: title,
			link: url,
			picture: picture_url
		}, function( response ) {

			if (response && response.post_id) {
				$.ajax({
		      url: survey_url,
		      type: "POST",
		      data: {},
		      success: function (response) {
		      },
		      error: function (xhr, status) {
		      }
		    });
			}

		});
	}

	$(".facebook-share-btn").on( "click", function() {
		title       = $(this).data("title")
		url         = $(this).data("url")
		picture_url = $(this).data("picture-url")
		survey_url  = $(this).data("survey")
		share_prompt(title,url,picture_url,survey_url)
	});


</script>
