<%= form_for [:admin, @survey_question] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.label :topic_id, "Topic" %>
    <%= f.select :topic_id, options_for_select(Topic.all.map{ |x| [x.name, x.id] }, @survey_question.topic_id), {}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Topic Image" %>
    <%= f.file_field :image %>

    <% if @survey_question.image.present? %>
      <br/>
      <%= image_tag @survey_question.image.url(:medium), :class => "img-thumbnail" %>
    <% end %>
  </div>


  <div class="form-group">
    <%= f.label :answer_options, "Answer Options" %>
  </div>

  <table class="table table-borderless" id="survey_question_answers">
    <tbody>
      <%= f.fields_for :survey_question_answers do |f2| %>
        <%= render "survey_question_answer_fields", :f => f2 %>
      <% end %>
    </tbody>
  </table>

  <%= link_to_add_tr_field("Add New Answer", f, :survey_question_answers, "survey_question_answers") %>

  <br/>
  <br/>

  <div class="form-action">
    <%= f.submit "#{@survey_question.new_record? ? 'Create' : 'Update' }", :class => "btn btn-success" %>
    <%= link_to "Cancel", admin_survey_questions_path %>
  </div>

<% end %>
