<footer class="footer">
  <div class="container upper-footer">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="col-sm-8 col-sm-offset-2">
          <%= link_to root_path do %>
            <%= image_tag "inverse-company-logo.png", :class => "inverse-company-logo" %>
          <% end %>
        </div>
        <br/>
      </div>

      <div class="col-sm-2">
        <p class="title">Company</p>
        <ul>
          <li>
            <%= link_to "About", root_path %>
          </li>

          <li>
            <%= link_to "How It Works", root_path %>
          </li>

          <li>
            <%= link_to "Press", root_path %>
          </li>

          <li>
            <%= link_to "Terms of Use", root_path %>
          </li>

          <li>
            <%= link_to "Privacy Policy", root_path %>
          </li>

          <li>
            <%= link_to "Contact", root_path %>
          </li>
        </ul>
        <br/>
      </div>

      <div class="col-sm-2">
        <p class="title">Popular</p>
        <ul>
          <% Topic.all.order("name asc").each do |topic| %>
            <li>
              <%= link_to topic.name, topics_survey_path(topic) %>
            </li>
          <% end %>
        </ul>
        <br/>
      </div>

      <div class="col-sm-2">
        <p class="title">Help</p>
        <ul>
          <li>
            <%= link_to "Login", root_path %>
          </li>

          <li>
            <%= link_to "Sign Up", root_path %>
          </li>

          <li>
            <%= link_to "FAQ", root_path %>
          </li>

          <li>
            <%= link_to "Policies", root_path %>
          </li>

          <li>
            <%= link_to "Unigleam Icons", root_path %>
          </li>

          <li>
            <%= link_to "Advertise", root_path %>
          </li>
        </ul>
        <br/>
      </div>
    </div>
  </div>

  <div class="container">
    <hr/>
  </div>

  <div class="lower-footer">
    <h5 class="white-font">Join Us On</h5>
    <div>
      <a class="btn btn-social-icon" href="https://facebook.com/Unigleam/">
        <i class="fa fa-facebook"></i>
      </a>

      <a class="btn btn-social-icon" href="https://twitter.com/_unigleam">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="btn btn-social-icon" href="https://www.instagram.com/unigleam/">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="btn btn-social-icon">
        <i class="fa fa-google-plus"></i>
      </a>

      <a class="btn btn-social-icon">
        <i class="fa fa-youtube"></i>
      </a>

    </div>
  </div>

  </div>
</footer>
