<footer class="footer">
  <div class="container upper-footer">
    <div class="col-sm-12">
      <div class="col-sm-6">
      1
      </div>

      <div class="col-sm-2">
        <p class="title">Company</p>
        <ul>
          <li>
            <%= link_to "About", root_path %>
          </li>

          <li>
            <%= link_to "How It Works", root_path %>
          </li>

          <li>
            <%= link_to "Press", root_path %>
          </li>

          <li>
            <%= link_to "Terms of Use", root_path %>
          </li>

          <li>
            <%= link_to "Privacy Policy", root_path %>
          </li>

          <li>
            <%= link_to "Contact", root_path %>
          </li>
        </ul>
      </div>

      <div class="col-sm-2">
        <p class="title">Popular</p>
      </div>

      <div class="col-sm-2">
        <p class="title">Help</p>
      </div>  
    </div>
    <hr/>
    <div class="lower-footer">
      <h5 class="white-font">Join Us On</h5>
      <div>
        <a class="btn btn-social-icon">
          <i class="fa fa-facebook"></i>
        </a>

        <a class="btn btn-social-icon">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="btn btn-social-icon">
          <i class="fa fa-instagram"></i>
        </a>

        <a class="btn btn-social-icon">
          <i class="fa fa-google-plus"></i>
        </a>

        <a class="btn btn-social-icon">
          <i class="fa fa-youtube"></i>
        </a>

      </div>
    </div>

  </div>
</footer>

