<!-- Begin Header -->
<header>

	<!-- Begin Top Bar -->
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<!-- Address and Phone -->
				<div class="col-sm-7 hidden-xs">
					<span class="ion-android-system-home home-icon"></span>Bright Passage, Fond du Lac, 63138 USA<span class="ion-ios7-telephone phone-icon"></span>1702983921
				</div>
				<!-- Social Buttons -->
				<div class="col-sm-5 text-right">
	        <ul class="topbar-list list-inline">
						<% unless user_signed_in? %>
							<li>
								<a data-toggle="modal" data-target="#login_modal">Login</a>
							</li>

							<li>
								<a href="pages-forms-register-login.html">Register</a>
							</li>
						<% else %>
							<li>
								<%= link_to "Logout", destroy_user_session_path, :method => "DELETE" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div><!--/row -->
		</div><!--/container header -->
	</div><!--/top bar -->
	<!-- End Top Bar -->

	<!-- Login -->
	<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
			  <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		      <h4 class="modal-title" id="loginLabel">Login</h4>
			  </div>
				<%= form_for(resource, :as => resource_name,
					 :url => session_path(resource_name),
					 :html => {:id => "sign_in_user"},
					 :format => :json,
					 :remote => true ) do |f| %>

					<div class="modal-body">

						<div class="alert alert-danger" role="alert" id="login_error_message" style="display:none;">
						  <strong>Warning!</strong> Username or password is invalid!
						</div>

			      <div class="form-group">
							<%= f.label :email, "Email address" %>
							<%= f.email_field :email, :class => "form-control", :placeholder => "Enter email" %>
			      </div>
			      <div class="form-group">
							<%= f.label :password, "Password" %>
							<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
			      </div>
			      <div class="checkbox">
			        <label>
								<%= f.check_box :remember_me %> Remember me
			        </label>
			      </div>
			  	</div>

					<div class="modal-footer">
						<center><%= f.submit "Login", :class => "btn btn-rw btn-theme" %></center>
						<br/>
						<center><%= link_to "<i class='fa fa-facebook'></i> Sign in with Facebook".html_safe, user_omniauth_authorize_path(:facebook), :class => "facebook_login" %></center>
						<br/>
			    </div>
				<% end %>

			</div><!-- /modal content -->

		</div><!-- /modal dialog -->
	</div><!-- /modal holder -->
	<!-- End Login -->

  <!-- Begin Navigation -->
  <div class="navbar-wrapper">
		<div class="navbar navbar-main" id="fixed-navbar">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 column-header">
						<div class="navbar-header">
							<!-- Brand -->
							<%= link_to root_path, :class=>"navbar-brand" do %>
			          <%= image_tag "company-logo.png", :class => "raleway-logo"  %>
			        <% end %>

							<!-- Mobile Navigation -->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					            <span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
							</button>
						</div><!-- /navbar header -->

						<!-- Main Navigation - Explained in Documentation -->
						<nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<%= link_to "Home", root_path %>
						    </li>

								<li>
									<%#= link_to "Topics", topics_path %>
						    </li>

							</ul><!-- /navbar right -->
						</nav><!-- /nav -->
					</div>
				</div>
			</div><!-- /container header -->
		</div><!-- /navbar -->
	</div><!-- /navbar wrapper -->
	<!-- End Navigation -->

	<!-- Begin Page Header -->
	<div class="header">
		<div class="container">
			<div class="row">
				<!-- Page Title -->
				<div class="col-sm-6 col-xs-12">
				</div>

				<!-- Breadcrumbs -->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><span class="ion-home breadcrumb-home"></span><%= link_to "Home", root_path %></li>
						<li>Topics</li>
					</ol>
				</div><!-- /column -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /page header -->

</header><!-- /header -->
<!-- End Header -->



<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="display:none;">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %>
          <%= image_tag "company-logo.png", :class => "company-logo" %>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li>
              <%= link_to "Sign in", user_session_path %>
            </li>

            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
          <% else %>
            <li>
              <a>Hello, <%= current_user.full_name %></a>
            </li>

            <li>
              <%= link_to "Topics", topics_path %>
            </li>

            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => "DELETE" %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
