<!DOCTYPE html>
<html>
<head>
  <title>Unigleam</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-content">

  <!-- Begin Header -->
  <header>

    <div class="navbar-wrapper">
  		<div class="navbar navbar-main" id="fixed-navbar">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-12 column-header">
  						<div class="navbar-header">
  							<!-- Brand -->
  							<%= link_to root_path, :class=>"navbar-brand" do %>
  			          <%= image_tag "company-logo.png", :class => "raleway-logo"  %>
  			        <% end %>

  							<!-- Mobile Navigation -->
  							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
  					            <span class="sr-only">Toggle navigation</span>
  					            <span class="icon-bar"></span>
  					            <span class="icon-bar"></span>
  					            <span class="icon-bar"></span>
  							</button>
  						</div><!-- /navbar header -->

  						<!-- Main Navigation - Explained in Documentation -->
  						<nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
  							<ul class="nav navbar-nav navbar-right">
  								<li>
  									<%= link_to "Home", root_path %>
  						    </li>

  								<li>
  									<%= link_to "Topics", topics_path %>
  						    </li>

  							</ul><!-- /navbar right -->
  						</nav><!-- /nav -->
  					</div>
  				</div>
  			</div><!-- /container header -->
  		</div><!-- /navbar -->
  	</div><!-- /navbar wrapper -->

  </header>

  <div id="wrapper">

    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <div class="sidebar-brand-user">
            <p>Welcome</p>
            <p><%= current_user.full_name %></p>
          </div>
        </li>

        <li class="<%= 'active' if params[:action] == 'dashboard' %>">
          <%= link_to "<i class='fa fa-dashboard'></i> Dashboard".html_safe, admin_root_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'admin/topics' %>">
          <%= link_to "<i class='fa fa-sticky-note'></i> Topics".html_safe, admin_topics_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'admin/survey_questions' %>">
          <%= link_to "<i class='fa fa-question-circle'></i> Survey Questions".html_safe, admin_survey_questions_path %>
        </li>

      </ul>
    </div>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <%= render "layouts/flash_messages" %>
          <%= yield %>
        </div>
      </div>
    </div>

  </div>

  <!-- On Scroll Animations - scrollReveal.js -->
  <script>
		var config = {
			easing: 'hustle',
			mobile:  true,
			delay:  'onload'
		}
		window.sr = new scrollReveal( config );
  </script>

</body>
</html>
