<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Unigleam</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="scrollreveal theme-content" data-url="<%= request.original_url %>">
	<!-- Begin Boxed or Fullwidth Layout -->
	<div id="bg-boxed">
	    <div class="boxed">

			<%= render "layouts/header" %>

			<!-- Begin Content Section -->
			<section class="">
				<%= yield %>
			</section><!-- /content -->
			<!-- End Content Section -->

			<%= render "layouts/footer" %>				

		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->


	<!-- On Scroll Animations - scrollReveal.js -->
  <script>
		var config = {
			easing: 'hustle',
			mobile:  true,
			delay:  'onload'
		}
		window.sr = new scrollReveal( config );
  </script>

</body>
</html>
