<!DOCTYPE html>
<html>
<head>
  <title>Unigleam</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="royal_preloader scrollreveal">

	<div id="royal_preloader"></div>

	<!-- Begin Boxed or Fullwidth Layout -->
	<div id="bg-boxed">
	    <div class="boxed">

			<%= render "layouts/header" %>

			<!-- Begin Content Section -->
			<section class="mt40">
				<%= yield %>
			</section><!-- /content -->
			<!-- End Content Section -->

			<!-- Begin Footer -->
			<footer class="footer-light">
			    <div class="container">
			        <div class="row">
			            <!-- About -->
			            <div class="col-sm-3">
		                <div class="heading-footer"><h4>About</h4></div>
		                <p>Unigleam.</p>
			            </div>

			            <!-- Social -->
			            <div class="col-sm-3 mg25-xs">
			                <div class="heading-footer"><h4>Social Networks</h4></div>
			                <a class="btn btn-social-icon btn-twitter btn-lg">
			                    <i class="fa fa-twitter"></i>
			                </a>
			                <a class="btn btn-social-icon btn-instagram btn-lg">
			                    <i class="fa fa-instagram"></i>
			                </a>
			                <a class="btn btn-social-icon btn-facebook btn-lg">
			                    <i class="fa fa-facebook"></i>
			                </a>
			                <a class="btn btn-social-icon btn-vimeo btn-lg">
			                    <i class="fa fa-vimeo-square"></i>
			                </a>
			                <a class="btn btn-social-icon btn-linkedin btn-lg">
			                    <i class="fa fa-linkedin"></i>
			                </a>
			                <a class="btn btn-social-icon btn-google-plus btn-lg">
			                    <i class="fa fa-google-plus"></i>
			                </a>
			                <a class="btn btn-social-icon btn-adn btn-lg">
			                    <i class="fa fa-adn"></i>
			                </a>
			                <a class="btn btn-social-icon btn-bitbucket btn-lg">
			                    <i class="fa fa-bitbucket"></i>
			                </a>
			                <a class="btn btn-social-icon btn-tumblr btn-lg">
			                    <i class="fa fa-tumblr"></i>
			                </a>
			                <a class="btn btn-social-icon btn-flickr btn-lg">
			                    <i class="fa fa-flickr"></i>
			                </a>
			            </div>
			            <!-- Contact -->
			            <div class="col-sm-3 mg25-xs">
			                <div class="heading-footer"><h4>Contact us</h4></div>
			                <p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
			                <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@unigleam.com">info@unigleam.com</a></small></p>
			                <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513</small></p>
			            </div>
			            <!-- Recent Work -->
			            <div class="col-sm-3 hidden-xs">
			              <div class="heading-footer"><h4>Recent Work</h4></div>

			            </div>
			        </div><!-- /row -->
			        <!-- Copyright -->
			        <div class="row">
			            <hr>
			            <div class="col-sm-11 col-xs-10">
			                <p class="copyright">© <%= Time.now.year %> Unigleam. All rights reserved. Built by <b><%= link_to "Prela", "http://prela.io" %></b>.</p>
			            </div>
			            <div class="col-sm-1 col-xs-2 text-right">
			                <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
			            </div>
			        </div><!-- /row -->
			    </div><!-- /container -->
			</footer><!-- /footer -->
			<!-- End Footer -->

		</div><!-- /boxed -->
	</div><!-- /bg boxed-->
	<!-- End Boxed or Fullwidth Layout -->


	<!-- On Scroll Animations - scrollReveal.js -->
  <script>
		var config = {
			easing: 'hustle',
			mobile:  true,
			delay:  'onload'
		}
		window.sr = new scrollReveal( config );
  </script>

</body>
</html>
